In [1]:
u = 29

In [3]:
u = 29
v = 12
x = 10
y = 4
z = 3

In [4]:
u/v

2.4166666666666665

In [5]:
t = (u ==v)

In [6]:
t

False

In [7]:
u%x

9

In [8]:
t = (x>=y)

In [9]:
t

True

In [10]:
u+=5

In [11]:
u

34

In [12]:
u%=z

In [13]:
u

1

In [14]:
t = (v > x and y < z)

In [15]:
t

False

In [16]:
x**z

1000

In [17]:
x//z

3

bai 2

In [18]:
r = 5

In [19]:
import math

In [20]:
c = 2*r*math.pi

In [21]:
c

31.41592653589793

In [22]:
s = math.pi*math.pow(r,2)

In [23]:
s

78.53981633974483

In [24]:
s= 'Hi John, welcome to python programming for beginner!'

In [25]:
'python' in s

True

In [26]:
s1 = s[3:7]

In [27]:
s1

'John'

In [28]:
s.count('o')

6

In [29]:
s.split(' ')

['Hi', 'John,', 'welcome', 'to', 'python', 'programming', 'for', 'beginner!']

In [31]:
len(s.split(' '))

8

bai 3

In [32]:
s = 'Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are'

In [33]:
s

'Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are'

In [39]:
l = [23, 4.3, 4.2, 31, 'python', 1, 5.3, 9, 1.7]

In [40]:
del l[l.index('python')]

In [41]:
l

[23, 4.3, 4.2, 31, 1, 5.3, 9, 1.7]

In [42]:
l.sort()

In [43]:
l

[1, 1.7, 4.2, 4.3, 5.3, 9, 23, 31]

In [44]:
4.2 in l

True

bai 4

In [36]:
A = {1, 2, 3, 4, 5, 7}
B = {2, 4, 5, 9, 12, 24} 
C = {2, 4, 8}

In [37]:
A.update(C)

In [38]:
A

{1, 2, 3, 4, 5, 7, 8}

In [39]:
B.update(C)
B

{2, 4, 5, 8, 9, 12, 24}

In [40]:
K =  A.difference(B)
K

{1, 3, 7}

In [42]:
M= A.union(B)

In [43]:

M

{1, 2, 3, 4, 5, 7, 8, 9, 12, 24}

In [44]:
len(A)

7

In [45]:
len(B)

7

tuple

In [46]:
a = 1, 'python', [2, 3], (4, 5)

DIC

In [47]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}

In [48]:
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
dic4

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [58]:
d = dict()
for x in range(1,16):
    d[x]=x**2
d

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [59]:
dick = {'a': 1, 'b': 4, 'c': 2}

In [64]:
c= dick.values()